# Database Configuration
MYSQL_DATABASE=dgsme
MYSQL_USERNAME=root
MYSQL_PASSWORD=reddy
MYSQL_HOST=localhost
MYSQL_PORT=3306

# JVM Configuration
JAVA_OPTS=-XX:+UseContainerSupport -XX:MaxRAMPercentage=75.0 -XX:MinRAMPercentage=50.0 -Xss512k -XX:+UseG1GC

# Spring Boot Configuration
SPRING_PROFILES_ACTIVE=prod
PORT=8080
SWAGGER_ENABLED=false

# JWT Configuration - Change this in production
JWT_SECRET=frtuIbW/7tBCgNocIIcC7iQ65f2CwBamkLmto4hoSnw= 